*{
  font-family:'Lexend', sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 84vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
} 

.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: 28px;
  background: #f6f6f6;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  color: 333333;
  margin-left: 14px;
  border: none;
  outline: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}

.stadium {
  max-width: 600px;
  margin: 0 auto;
}

.filter-toggle {
    display: none;
}

.filter-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.2s;
}

.filter-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.filter-options {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.filter-toggle:checked + .filter-button + .filter-options {
    max-height: 100px;
    padding: 8px;
}

.filter-options select {
    width: 150px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.three-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0px 1rem;
  margin-bottom: 1rem;
}

.stadium-card {
  overflow: hidden;
  text-align: center;
  transition: transform 0.5s ease;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 0px 0px 5px;
}

.stadium-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  padding: 0px 0px 5px;
}

.stadium-card:hover {
  transform: translateY(-5px);
}

.stadium-card-wrapper {
  color: black;
  text-decoration: none;
}

.no-results {
  display: none;
  text-align: center; 
  margin: 3rem;
}

.header {
  display: flex;
  align-items: center; 
  gap: 1rem; 
  padding: 2px 20px; 
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.logo {
  width: 50px;
  height: auto;
  vertical-align: middle;
  top: 20px;
  left: 20px;
}

.home-bar {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  padding: 12px 24px;
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.home-link:hover {
  opacity: 0.8;
}

.home-icon {
  font-size: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.main-image {
  position: relative;
  display: block;
}

.main-image img {
  width: 100%;
  height: 490px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;

}

.stadiums-heading {
  text-align: center;
}

.two-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.img-card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-card, .img-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.team-name {
  color: white;
  display: flex;
  align-items: center;
  background: black;
  padding: 12px 24px;
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.description, .map{
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 1rem;
}

h2, h3 {
  text-align: center;
  padding: 8px;
}

.review, .add-review, .admin-login{
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 1rem;
}

.add-review form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #0077cc;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

.footer {
  background: #f6f6f6;
  padding: 14px 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}